<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alaska.dmytest.dao.UserMapper">
    <resultMap id="UserMapper" type="com.alaska.dmytest.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>

    <insert id="createUser" parameterType="com.alaska.dmytest.entity.User">
        INSERT INTO "user"(id, username, password) VALUES (#{user.id}  ,#{user.username,jdbcType=VARCHAR}   ,#{user.password,jdbcType=VARCHAR}  ,)
    </insert>
    <delete id="deleteUserByUserId" parameterType="int">
        DELETE FROM "user" WHERE "user".id = #{id}
    </delete>
    <delete id="deleteUserByUsername" parameterType="string">
        DELETE FROM "user" WHERE username = #{username}
    </delete>
    <update id="updateUser" parameterType="com.alaska.dmytest.entity.User">
        UPDATE "user" SET password = #{user.password,jdbcType=VARCHAR}
    </update>
    <select id="selectUserById" resultMap="UserMapper" parameterType="int">
        SELECT * FROM "user" WHERE id = #{id}
    </select>
    <select id="selectUserByUsername" resultMap="UserMapper" parameterType="string">
        SELECT * FROM "user" WHERE username = #{username}
    </select>
    <select id="selectAllUser" resultMap="UserMapper" >
        SELECT * FROM "user"
    </select>

</mapper>